
.container{
  overflow: hidden;
  /* background-color: blue; */
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(241, 224, 241);
}
.logo {
  
  margin: 0px 3px;
  text-align: center;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
.tag{
  margin-bottom: 5%;
  margin-top: 3%;
  text-align: center;
  font: 400 40px/1.0 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}
.body{
  width: 100%;
  /* min-height: 100vh; */
  height: auto;
  /* position: relative; */
}
.app{
  min-height: 100vh;
  display: block;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading{
  text-align: center;
}
.input-field{
  text-align: center;
  width: 100%;

}
.input-field input{
  
  padding: 0rem 4px;
  width: 40%;
  box-shadow: 0px;
  border: 1px rgba(148, 144, 190, 1) solid;
  border-radius: 5px;
  height: 1.4rem;
  margin: 4px 0px;
}
.input-field button{
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(148, 144, 190, 0.733);
  color: black;
  border: 1px transparent solid;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 5px 0px;
}
.input-field button:hover{
  color: blueviolet;
  border: 1px rgba(148, 144, 190, 1) solid;
  background-color: rgba(148, 144, 190, 0.33);
}

.result-div{
  box-shadow: 8px 8px 4px rgb(49, 77, 75);
  background-color: rgb(171, 218, 215);
  display: block;
  margin: 8px 15px;
  padding: 2px 15px;
  text-align: left;
}
.result-div-none{
  display: none;

}
.footer{
  color: white;
  background-color: darkslategrey;
  text-align: center;
}
.link-footer{
  padding: 10px 0px;
}
.link-footer a{
  text-decoration: none;
  color: white;
}
.link-footer a:hover,.social-media-footer a:hover {
  color: rgb(23, 39, 39);
}
.social-media-footer{
  margin: 15px 0px;
}
.social-media-footer span{
  margin: 0px 10px;
}
.social-media-footer a{
  /* background-color: darkslategrey; */
  color: white;
}
.copyright-footer{
  padding: 0.3px 0px;
  background-color: rgb(26, 44, 44);
  text-align: center;
}

@media screen and (max-width: 490px) {
  .logo{
    font: 400 60px/1.5 'Pacifico', Helvetica, sans-serif;
  }
}
